.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background: #E6C7AB;
}

.hero-text {
    flex: 1;
}

.hero-text h1 {
    font-size: 100px;
    color: #B17330;
    margin-bottom: 1rem;
}

.hero-text p {
    margin: 1rem 0;
    font-size: 25px;
    margin-bottom: 2rem;
    text-align: justify;
}

.shop-now-btn {
    padding: 0.75rem 1.5rem;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.hero-image img {
    width: 700px;
    height: auto;
    flex: 1;
}

.promo-section, .katalog-section, .tentang-section, .kontak-section {
    padding: 2rem;
    background: #fff;
}

.promo-section h2, .katalog-section h2, .tentang-section h2, .kontak-section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.promo-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.promo-products .product-card {
    flex: 0 1 calc(25% - 1rem);
    margin: 0.5rem;
    padding: 1rem;
    border: 1px solid #ddd;
    text-align: center;
    box-sizing: border-box;
}

.promo-products, .product-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    flex: 0 1 300px;
    margin: 0.5rem;
    padding: 1rem;
    border: 1px solid #ddd;
    text-align: center;
    box-sizing: border-box;
}

.product-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.product-card h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.product-category .product-card p {
    font-size: 1rem;
    color: #7C8046;
}

.product-category .product-card {
    flex: 0 1 270px;
    margin: 0.5rem;
    padding: 1rem;
    border: 1px solid #ddd;
    text-align: center;
    box-sizing: border-box;
}

.normal-price {
    text-decoration: line-through;
    color: red;
    font-size: 0.7rem;
}

.promo-price {
    color: #7C8046;
    font-size: 1rem;
}

.promo-products .product-card .add-to-cart-btn {
    padding: 0.5rem 0.75rem;
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 1rem;
}

.add-to-cart-btn {
    padding: 0.5rem 0.75rem;
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 0.6rem;
}

.promo-products .product-card .add-to-cart-btn .bi-cart {
    font-size: 1.2rem;
}

.add-to-cart-btn .bi-cart {
    font-size: 1rem;
}

.buy-btn {
    padding: 0.5rem 0.75rem;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

.promo-products .product-card .buy-btn .bi-bag {
    font-size: 1.2rem;
}

.buy-btn .bi-bag {
    font-size: 1rem;
}

.category {
    margin-bottom: 2rem;
    text-align: center;
}

.category-links {
    text-align: center;
    margin-bottom: 2rem;
}

.category-link {
    margin: 0 1rem;
    color: #243B3B;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 10px;
}

.category-link:hover,
.category-link.active {
    background-color: #7C8046;
    color: white;
}
@media (max-width: 768px) {

    .promo-products .product-card {
        flex: 0 1 calc(50% - 1rem);
    }
}

.more-products {
    text-align: center;
    margin-top: 20px;
}

.more-products-btn {
    background-color: #7C8046;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.more-products-btn:hover {
    background-color: #6b703d;
}